<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anotobolso - bookannotation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <link rel="stylesheet" href="../../static/global.css" />
  <link rel="stylesheet" href="../../static/post.css" />
</head>

<body>

  <div class="card post flex-col">
    <div class="flex flex-row justify-around align-center relative">
      <span>{{ post.id }}</span>
      <span>{{ user.name }}@<span class="secondary-text">{{ user.username }}</span></span>
      <span><input type="checkbox" id="heart" />
        <label for="heart" />: likes</span>
      <span><input type="checkbox" id="visibility-setting" disabled />
        <label for="visibility-setting"></label></span>
      
        <button class="three-dots" hx-get="/post_options_component?type={{ type }}"  ><i class="fas fa-ellipsis-v"></i></button>


    </div>
    <div class="post-text flex flex-col justify-center">
      {{ post.text }}
    </div>
  </div>


</body>

</html>