:root{
    --background:;
    --foreground:;
    --primary:;
    --secondary:;

    --font:;
    --bg-background:;
    --bg-footer:;
}

.flex{ display: flex; }
.flex-col{ display: flex; flex-direction: column;}
.flex-row{ display: flex; flex-direction: row;}
.flex-grow{ flex-grow: 1;}

.vw-100{ width: 100vw;}
.vw-80{ width: 80vw;}
.vw-50{ width: 50vw;}

.vh-100{ width: 100vh;}
.vh-80{ width: 80vh;}
.vh-50{ width: 50vh;}

